* {
  margin: 0;
  padding: 0;
}
html {
  text-align: center;
}

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid grey;
  background-image: url("/images/piano.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section {
  clear: both;
  padding: 50px;
}

footer {
  height: 50px;
  width: 100%;
  border-top: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

ul {
  list-style-type: none;
}

div {
  display: block;
}

h1, h2 {
  margin: 5%;/*Revisit spacing here*/
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: auto;
  width: 50%;
  font-family: monospace;
  font-size: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: blue;
}

.container, h2 { /*revisit spacing here*/
  padding-top: 25px;
}

.btn {
  padding-bottom: 25px;
}

.vid-container {
  margin: 5%;
}

.side-by-side {
  float: left;
  padding: 0px 10px 0px 10px;
  border-right: 1px solid grey;
}

.left {
  float: left;
}

.right {
  float: right;
}

.social {
  margin-top: 15px;
  padding-left: 38%; /*revisit centering*/
}

#nav {
  margin-top: 25px;
  text-align: right;
  color: black;
  font-weight: bold;
}
