<h1>Videos</h1>
<section>
  <% @videos.each do |video| %>
      <h2><%= link_to video.title, video_path(video) %></h2>
      <iframe width="560" height="315" src="<%= video.vid_url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</section>
